@use "./utils/colors";
@use "./utils/mixins";
@import url("https://fonts.googleapis.com/css?family=Oswald|Playfair+Display&display=swap");

/* ------ GENERAL ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    -webkit-user-select: none;
    background-color: #212529 !important;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

nav {
    -webkit-app-region: drag;
    z-index: 1500 !important;
    position: fixed !important;
}

#titleApp {
    font-size: 13px !important;
}

.btn {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    outline: none !important;
    border: none !important;
    cursor: default !important;
    -webkit-app-region: no-drag;

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none;
    }

    &.btnDashboard {
        background-color: #5498f8e2;
        transition: all 500 ease-in;
        font-weight: bold !important;

        &:hover {
            background-color: white !important;
            color: colors.$backgroundLoginBtn !important;
        }
    }
}

.btn-window {
    background-color: transparent !important;
    color: colors.$fontColorWhite !important;
    font-weight: normal !important;
    width: 45px !important;

    &:hover {
        background-color: colors.$backgroundLoginBtn !important;
    }

    &.btnClose:hover {
        background-color: red !important;
    }
}

.form-control:focus {
    border-style: none none inset none !important;
    box-shadow: none !important;
}

/* --------- CUSTOM SIDENAV --------- */

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 50 !important;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
}

.main {
    margin-left: 220px;
    padding: 10px 10px;
    height: 100% !important;
}

/* ----- Log out button ----- */

#btnLogout {
    color: white !important;
    transition: all 500 ease-in;

    &:hover {
        color: rgb(56, 61, 209) !important;
        font-weight: bold;
        
        & .iconify {
            color: rgb(56, 61, 209) !important;
        }
    }
}

/* --------- CUSTOM SCROLLBAR --------- */

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: colors.$backgroundLightBlue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: colors.$backgroundLoginBtn;
}
