<% include includes/head %>
  </head>

  <body>
    <div class="container-fluid">

      <div class="row no-gutters justify-content-around">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Ouvrir un projet git existant</h5>
            <div class="d-flex justify-content-end">
              <button id="openFolder" type="button" class="btn mx-4 btn-primary">Ouvrir</button>
            </div>
          </div>
        </div>

        <div id="resultat" class="my-5 border container-fluid"></div>
      </div>

      <script type="module" src="/js/script.js"></script>
  </body>

  </html>