<% include includes/head %>
  </head>

  <body>
    <nav class="w-100 row no-gutters border-bottom border-light bg-secondary m-0">
      <div class="col-2 pt-2 pl-4">
        <h6 id="titleApp" class="text-white"> GitClient </h6>
      </div>
      <div class="d-flex justify-content-end col-10">
        <button id="minimize" class="btn btn-window rounded-0" style="padding: 5px !important;">
          <svg width="10" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H20V2H0V0Z" fill="white" />
          </svg>
        </button>

        <button id="maximize" class="btn btn-window rounded-0">
          <span class="iconify" data-inline="false" data-icon="clarity:window-max-line"
            style="font-size: 20px; color: #fff;"></span>
        </button>

        <button id="close" class="btn btn-window rounded-0 btnClose">
          <span class="iconify" data-inline="false" data-icon="ant-design:close-outlined"
            style="font-size: 16px; color: #fff;"></span>
        </button>
      </div>
    </nav>

    <div class="sidenav bg-secondary">

      <div class="d-flex justify-content-center mb-2 d-none" id="gitCommand">
        <button class="btn btn-success" id="commitCommand" data-bs-toggle="modal" data-bs-target="#exampleModal"> Commit </button>
        <button class="btn btn-danger mx-2" id="pushCommand"> Push </button>
        <button class="btn btn-primary" id="pullCommand"> Pull </button>
      </div>

      <h6 id="directoryNameDisplay" class="text-center fw-bold">Choisir le projet git</h6>

      <div class="my-2">
        <div class="d-flex justify-content-center">
          <button id="openFolder" type="button" class="btn py-0 px-3 btn-dark btn-sm">Ouvrir</button>
        </div>
      </div>

      <div id="folderContent" class=" mt-4 text-white d-flex flex-column pl-2 pb-4"></div>
    </div>

    <div class="main pt-5 bg-dark">
      <div id="fileViewer" class="w-100 h-100">
        <h6 id="fileName" class="text-center text-white my-4 d-none"> Aucun fichier sélectionner </h6>
        <textarea id="editor" class="text-white bg-dark border border-light d-none w-100 h-75 px-2 py-3"></textarea>
      </div>

      <div id="invalideFolder" class="d-flex justify-content-center align-items-center d-none"
        style="height: 100% !important;">
        <p class="text-center text-white"> Dossier invalide </p>
      </div>


      <div id="loading" class="d-flex justify-content-center align-items-center d-none"
        style="height: 100% !important;">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 2500;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Message de commit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input id="commitMsg" type="text" class="form-control" placeholder="Saisir le message">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" id="sendCommitBtn">Valider</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="modalResult" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 2500;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-center" id="displayMessage"> </p>
          </div>
        </div>
      </div>
    </div>


    <script type="module" src="/js/script.js"></script>
    <script type="module" src="/js/menuHandlerElectron.js"></script>
  </body>

  </html>